
    <!-- content for the website-->
    <div class="container">
      <div class="jumbotron">

        <h2><b> Tourists Destinations </b></h2>
            <p>Everyone love to travel,explore and wander different places,that wander provide the peace,joy and
                happiness to humans soul.
                If we talk about exploring and wanderlust, Uttrakhand has many mesmerising places to visit and feel
                and understand trueset
                form of Nature.
            </p>  </div>



    <div class="row">
        <h2><b>Rishikesh</b></h2>
        <p> Rishikesh is the one of the Holy town located in Dehradun District (Uttarakhand).This city is blessed
            with numbers of Ashrams and it is famous for Yoga and meditations.
            Rishikesh is now world famous as a Yoga Capital of the world. Every year during the March month one week
            long International yoga festival is hosted by Rishikesh.
            Rishikesh is also known as gateway to the Char Dham.It lies in the Himalayan foothills beside the Ganges
            River.
            The whole town is considered to be sacred and it's believed that meditation there leads to salvation.
            Rishikesh attracts those people who are in search for seeking knowledge and peace.
            In Sanskrit Rishikesh is a name of Vishnu that means 'lord of the senses'.
            The place gets its name after Lord Vishnu who appeared to 'Raibhya Rishi', as a result of his tapasya
            (austerities),
            as Lord Hrishikesh.Main attractions of Rishikesh:</p>
            <ul>
                <li>Laxman Jhula</li>
                <li>Neelkanth Mahadev Temple</li>
                <li>Swarg Ashram</li>
                <li>The Beatles Ashram</li>
                <li>Parmarth Ashram</li>
                <li>Rajaji National Park</li>
                <li>Kaudiyala</li>
                <li>Shivpuri</li>
            </ul>

    </div><!-- The four columns --><hr style="color:black">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/images/rishi.jpeg" class="img-rounded fit-image" alt="Nature">
            <div class="caption">Raghunath Temple Triveni Ghat</div>
        </div>
        <div class="col-md-3">
            <img src="assets/images/rishi2.jpeg" class="img-rounded fit-image"alt="Snow"><div class="caption">Lakshaman Jhoola</div>
        </div>
        <div class="col-md-3">
            <img src="assets/images/shiva2.jpeg" class="img-rounded fit-image" alt="Mountains"><div class="caption">Lord Shiva Statue</div>
        </div>
        <div class="col-md-3">
            <img src="assets/images/neel.jpeg" class="img-rounded fit-image" alt="Lights"><div class="caption">Neelkanth Temple</div>
        </div>
    </div> <hr style="color:black">
    <div class="row">
        <h2><b>City Of Lakes Nainital</b></h2>
        <p> Nainital is a gem of Uttarakhand, as it a hill station,that sites at the foothills of Kumaun regions of
            Himalayas.
            This beautiful city is located at an elevation of around 1938 metres, the epicentre of the town’s
            popularity and beauty lies within the
            gorgeous and peaceful Naini Lake, after which the town is named, which was founded by the British due to
            its resemblance to
            the Cumbrian Lake district, Nainital brims with elegant colonial structures that amplify the beauty of
            this place. It is a perfect weekend getaway from the Indian capital of Delhi.This beautiful town
            experiences
            a pleasant climate throughout the year.People looking to get a break from their busy life,can experience
            emmense joy and peace
            if they visit this place.</p>
            <ul>
                <li>Snow View</li>
                <li>Tiffin Top </li>
                <li>Camels Back</li>
                <li>Naina Devi Temple</li>
                <li>Mall Road</li>
                <li>Hanuman Garhi</li>
            </ul>

    </div> <hr style="color:black">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/images/temple.jpg" class="img-rounded fit-image" alt="Nature">
        </div>
        <div class="col-md-3">
            <img src="assets/images/ntl.jpeg" class="img-rounded fit-image"alt="Snow">
        </div>
        <div class="col-md-3">
            <img src="assets/images/ntl2.jpeg" class="img-rounded fit-image" alt="Mountains">
        </div>
        <div class="col-md-3">
            <img src="assets/images/nightNtl.jpeg" class="img-rounded fit-image" alt="Lights">
        </div>
    </div><hr style="color:black">
    <div class="row" style="padding-left: 20px">
        <h2><b>Corbett National Park </b></h2>
        <p> Corbett National Park, is the oldest National Park in India. It is set at midst of the foothills of
            Himalayas,
            houses a variety of flora and fauna including rare ones such as tigers and is a treat for wildlife
            explorers
            and photographers.This park was established in 1936 as Hailey National
            Park and it is home to the critically endangered species of the Royal Bengal Tiger. It was the first
            place where Project Tiger was launched in 1973.
            Located in Uttarakhand and along the banks of Ramaganga River, it is home to around more than 480
            species of flora and fauna.
            It is spread over an area of more than 500 sq km covering riverine belts, hills, marshy depressions,
            lakes, streams and grasslands.
            The Park is divided into 5 zones:<b> Bijrani, Dhikala, Jhirna, Domunda and Sonanandi</b> and all of them
            have different gates.
            A visit to Corbett National Park is incomplete without a jungle safari.
            Due to this tourist spot, there are multiple numbers of resorts to make tourists journey to this place
            more comfortable  and smooth.  </p> </div><hr style="color:black">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/tigers.jpeg" class="img-rounded fit-image" alt="Nature">
                </div>
                <div class="col-md-3">
                    <img src="assets/images/peacock.jpeg" class="img-rounded fit-image"alt="Snow">
                </div>
                <div class="col-md-3">
                    <img src="assets/images/deer.jpeg" class="img-rounded fit-image" alt="Mountains">
                </div>
                <div class="col-md-3">
                    <img src="assets/images/corbett.jpeg" class="img-rounded fit-image" alt="Lights">
                </div>
            </div> <hr style="color:black">

        <div class="row">
            <h2><b>Mussoorie</b></h2>
               <p>Mussoorie is the place where you will experience the truest form of nature. Set at the foothills of the
                Garhwal Himalayan ranges,
                also known as Queen of The Hills, Mussoorie stands at an altitude of 7000 feet above sea level, and has a
                cool, pleasant climate
                throughout the year. The pristine, natural beauty makes it a very popular choice of holiday for explorers
                and tourists.
                Peoples who want to enjoy the beautiful sight of the rolling green slopes juxtaposed with the snow-capped
                peaks of the Himalayas,
                soorie is the place for you to be.
                This beautiful hill station is the perfect retreat from the sweltering weather of the plains, and the fact
                that it was a very
                popular holiday destination during the British era can be seen from the multitude of British remnants
                engulfing the city,
                such as the archaic architecture of the hotels and churches dotting the entire terrain. One of the most
                popular tourist
                attractions in Mussoorie is The Mall (also known as the Mall Road), which is a slightly steep boulevard that
                has eateries
                and other shops lining its entire stretch. From the little houses spread around the area to the architecture
                of even the
                lamp posts, The Mall gives off a distinct colonial vibe.</p> </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/mu.jpeg" class="img-rounded fit-image" alt="Nature">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/mu2.jpeg" class="img-rounded fit-image"alt="Snow">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/musso1.jpeg" class="img-rounded fit-image" alt="Mountains">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/mass.jpeg" class="img-rounded fit-image" alt="Lights">
                    </div>
                </div> <hr style="color:black"></div>
