
<!-- content for the website-->
<div class="container">
  <div class="jumbotron">
  <h2><b> Regional  Pulses  </b></h2>
     <p>Pulses of Uttarakhand are  better than other as it has many varieties. There is a reason as these pulses are grown  only in high rises
        area of Uttarakhand(himalayas) as it enhances the taste of each and every dish prepared by these pulses.</p>
  </div>
<div class="row">
  <div class="col-md-8">
    <h2><b>Gauhat (Kaulth)</b> </h2>
    <p>Another names of Gauhat daai are Horse gram, Kulthi, hurali, Madras gram,Muthira. Its botinical name is <b>"Macrotyloma uniflorum"</b>. It belongs to family
           Fabaceae from Plantae Kingdom.
            Gahat or Kulath is also well known for its positive impact on kidneys. This
            delicious dal of Gahat (Kulath) is tempered with gandharein, asafoetida and
            cumin seeds.
            Horse gram is an annual plant, densely growing, low-growing or climbing, slender, herbaceous legume
            reaching 30-60 cm in height with slightly hairy stems. The stems, leaves, and husks are used as fodder or
            green manure and seeds are fed to cattle and horses.Horse gram is anti-bacterial, anti-fungal and anti-hyperglycemic in nature, It is also densely rich in antioxidants
            Many of you must be guessing what are the benefits of horse gram.Horse gram has various health benifits:
            <ul>
                <li> Prevent Constipation</li>
                        <li>Lowers Blood pressure</li>
                       <li> Good for Weight loss</li>
                       <li> Improves Heart health</li>
                      <li>  Increases Sperm count</li>
                       <li> Keeps your body warm during winter</li>
                       <li> Lower Cholesterol levels</li>
              </ul></div>
              <div class="col-md-4">
                <div class="card style=width: 18rem;">
                <img class="card-img-top" src="assets/images/gaht.jpg" alt="Card image cap">
              </div></div></div>
            <hr style="color: black;">

<div class="row">
    <div class="col-md-8">
      <h2><b>Bhat or Black-Seed Soyabean</b> </h2>
      <p>
          Black bean, a variety of soybean (Glycine max), is cultivated as a food crop in the Kumaon
          region (Uttaranchal state, northern India), and in the bordering states and countries in the Himalayas.
          It is third most important pulse crop of India.It is an important legume crop cultivated from near sea level
          to 2000m elevation and rich in protein, carbohydrates, calcium and other minerals. Germination
           and seedling development is very important for early establishment of plants under stress condition.
           Soybean has seeds of two  colours: <b>Black and White</b> , the black one is rich in iron and protein.
           Black soybean is harvested in October and is available in markets. Benefits of Black-Seed Soyabean:</p>
           <ul>
             <li>Managing diabetes, strengthening bones.</li>
             <li> Lowering blood pressure, healthy digestion and weight loss.</li>
             <li> It is also a great source of Vitamin E and amino acids which helps in keeping the
             skin healthy, build muscle and maintain the health of your hair.</li>
             <li> Studies also show that consuming black soybeans improves the chances of pregnancy.</li>
            </ul>
     </div>
    <div class="col-md-4">
      <div class="card style=width: 18rem;">
        <img class="card-img-top" src="assets/images/bhat.JPG" alt="Card image cap">
      </div></div></div> <hr style="color: black;">


<div class="row">
  <div class="col-md-8">
    <h2><b>Bhat or Yellow-Seed Soyabean</b></h2>
    <p>It is a traditional variety of Soyabean (hybrid crop) - is grown in hills as a member of
       Barahnaja family. Rich in calcium, phosphorus, iron, Bhatt is a good source of Vitamins as well.
       It can be cooked, mixed with other daal or as various Pahari dishes.Botanical Name : Glygcine Max
       Bhatt ki dal is the organic black soybeans which are cultivated here, in the high rises of Uttarakhand. Using this humble ingredient, different foods are prepared, where Bhatt ki Dal and Bhatt ki Chudkani/Churdkani are the two most iconic dishes from Kumaoni cuisine.
      The difference between the Dal and Chudkani (pronounced as Churkani) lies in the process of
       preparation. In Churdkani, the lentil is first fried in oil while in Dal, you soak it overnight and
       mper once cooked. Also, the Churdkani is watery, unlike Dal which is thick in texture.
       Dals are like staple diet in Kumaoni cuisine. Usually, the lentils are soaked overnight before
        cooking. Cooking is mainly done in iron pans or Lohe ki kadai. The taste and composition of the
         food are enhanced when you cook in iron pans. You would need a very less oil, it can withstand high
          temperature and you needn’t worry about breaking it as it is heavy. </p></div>
    <div class="col-md-4">
            <div class="card style=width: 18rem;">
              <img class="card-img-top" src="assets/images/soya.jpg" alt="Card image cap">
            </div></div> </div> <hr style="color: black;">

  <div class="row">
    <div class="col-md-8">
        <h2><b>Pahari Masoor Daal</b></h2>
        <p>
            Masoor Dal Protects Your Heart, Improves Digestion, Boosts Immunity, Effective for Weight Loss,
             Effective for Diabetic Patients, Prevents Rapid Aging, High Protein Content, Reduces Risk of Cancer,
             Strengthens Bones and Teeth, No any chemical or pesticide, sourced mainly from the high rises of Uttarakhand.
             Pahadi masoor dal (lentils) are rich in flavours, a class of antioxidants with antioxidant properties. Studies have proved that regular consumption of pahadi masoor dal (lentils) can reduce the risk of breast cancer.
             Pahadi masoor dal (lentils) prove to be significant for a healthy heart as they prevent heart coronary
              problems. Fiber in the lentils reduces blood cholesterol levels and plaque forming on the walls of the
              eries, thereby eliminating the risk of stroke or other cardiovascular diseases.
            </p>
            </div>
            <div class="col-md-4">
              <div class="card style=width: 18rem;">
                <img class="card-img-top" src="assets/images/mas.png" alt="Card image cap">
              </div></div> </div> <hr style="color: black;">
<div class="row">
<div class="col-md-8">
                  <h2><b>Pahari Rajma Dal(Red and White)</b></h2>
                    <p>
                        Rajma are popularly known as kidney beans. This unique bean is shaped like a kidney and has a strong
                         flavor with powdery texture. It is dried kidney having reddish brown color.
                         Rajma are known for their strong nutty flavor and musky aroma.Rajma beans are fully loaded with amino
                         acids and proteins, in addition to these; it consists of carbohydrates, dietary fiber both soluble and
                         insoluble, fatty acids, and minerals like magnesium, molybdenum, potassium, sodium, copper, iron,
                         phosphorous, and Vitamins such as Vitamin B complex constituents, Vitamin K and other traces of essential
                         vitamins, antioxidants, and minerals.
                         In Indian market there are three types of rajma:Red kidney beans, Kashmiri kidney beans,Chitra kidned beans.
                         But Red and White Rajma are speciality of Uttarakhand.</p>
                         <ul>
                           <li> Kidney beans are a very good source of cholesterol- lowering fiber.</li>
                           <li>Soaked rajma helps in removing indigestible complex sugars which are the reason for gas and acidity in the body.</li>
                            <li>High fiber content prevents blood sugar levels from rising too rapidly after a meal.</li>
                           <li>Kidney beans are an excellent source of folate, dietary fiber and manganese.</li>
                          </ul></div>
                          <div class="col-md-4">
                            <div class="card style=width: 18rem;">
                              <img class="card-img-top" src="assets/images/raj1.jpeg" alt="Card image cap">
                            </div>
                            <div class="card style=width: 18rem;">
                              <img class="card-img-top" src="assets/images/raj4.jpeg" alt="Card image cap">
                            </div>
                          </div></div> <hr style="color: black;">



