
<!-- content for the website-->
<div class="container">
  <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_whatsapp"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<div class="jumbotron">
  <h2><b> Folk Art </b></h2>
  <p>FOLK ART is a representation and expression of the world’s traditional cultures.
   It is evidence of traditions that come from community and culture – expressing their cultural identity by conveying shared community values and aesthetics.
   It encompasses a range of decorative media, including cloth, wood, paper, clay, metal and more. Folk Art is passed as heritage to the upcoming generations.
   It is made by individuals whose creative skills convey their community’s authentic cultural identity, rather than an individual or idiosyncratic artistic identity.
  </p></div>
  <div class="row">
    The Pahadi Kalam form of painting is developed in Kumaun, observed in the Himalayan areas.The Mughal school of Miniature Painting metamorphosed into the
    Garhwal School of Painting. The best example o Gharwal painting are found at University Museum in Srinagar,Gharwal.
  </div><hr style="color:black;">
<div class="row">
     <div class="col-md-8">
    <h3><b>Aipan</b></h3>
    <p>
       Aipan is one of the traditional art (painting form) of Kumaon.
        It has great social, cultural and religious significance.
        Aipans are known by different names and is in popular in many parts of India with larger
         variations. It is called Alpana in Bengal, Satiya in Gujrat, Rangoli in Maharashtra,
         Chowk pooran in UP, Kolam in south India, Madne in Rajasthan, Arichan in Bihar and
         Bhuggul in Andhra Pardesh.They  are mainly drawn on occasions ,festivals,mainly on entry doors
         of the house.Aipans comes in multiple designs and artistic creations, some of the designs have
         specific meanings and religious importance and are drawn on auspicious occasions,
         like marriages,naming ceremony(namkaran sanskar) to perform rituals while others are for particular God / Goddess and a few for aesthetic look.
         In old days these aipan were made using paste of geru and thin liquid rice paste,making combination of red and white design.
         Now days for long lasting aipan,people have started using red and white paint.

         Different types of Aipans are:</p>
         <ul>
           <li>Aipan For DoorSteps</li>
           <li>Chauki</li>
           <li>Astadal Kamal</li>
           <li>Lakshmi Padchina</li>
           <li>Lakshmi Peeth</li>
           <li>Bhuiyan</li>
         </ul>
       </div>
       <div class="col-md-4">
         <img src="assets/images/aip.jpg" alt="responsive" class="img-rounded fit-image" style="height:40%"><hr style="color:black;">
         <img src="assets/images/aipan.jpeg" alt="responsive" class="img-rounded fit-image" style="height:40%"><hr style="color:black;">
     </div><hr style="color:black;">


    <h3>Thapa</h3>
    <p>Paintings of Goddess Durga are drawn using paste of rice,mixed with different colours called Thapa.
      These colourfull drawings are prepared during Deepawali, Dushera,Navgrah Pooja and Durga Pooja.
    </p>
    <h3>Naat</h3>
    <p>These are the figures of Laxami Narayan, Chaitua, and Bikhauti drawn on the walls of kitchen using Gerua and Biswar.
      By drawing these figures, people wish prosperity in family. These are also called Tupuk.</p>
    <h3>Jyunti</h3>
    <p>Drawings of Mahalaxami,Mahakai,Ganesh,Mahasarawati, ad Durga on a board are called Jayunti or Jyunti Patt.These drawings are popularly drawn
      during ceremonies like marriages,YagyaPaveet etc. along with main figures of gods and goddesses,drawings of animals,birds
    trees etc. are also drawn.</p>
  </div><hr style="color:black;">
       <div class="row">
           <div class="col-md-8">
            <h3><b>Paintings</b></h3>
            <p>
               The paintings of Uttarakhand are unique and diverse. Garhwal in Uttarakhand is famed for Mughal style of paintings
               introduced by a Mughal Prince during the great Mughal regime. The University Museum in Srinagar, Garhwal exhibits
                a marvelous collection of these paintings along with numerous sculptures and findings from archaeological excavations.
                It is this beautiful land.which inspired the great writers Maharishi Balmiki and Kalidas,to laid the ultimate foundation
                for the literacy treasure.
                The distinctive features of the Garhwal School of Painting consist of extremely beautiful and near perfect women with high arched, thin and delicate looking eyebrows and a captivating nose with a defined nose bridge resting on a supple oval face. The
                build of the female would usually have a tiny waist emphasized by the greatly developed bosom.
                 This envisioning of the ideal beauty was on metaphorical terms that blended poetry and passion with romance and
                  sometimes religion. It showed the unblemished approach towards finding that unabashed and spiritual love in India
                  at that time.
                Paintings are of many types including: <b>Stone Carving,Miniature Paintings, Crafts,Wall Paintings and Mughal Paintings.</b>
             </p>
               </div>
             <div class="col-md-4">
                   <img src="assets/images/pint.jpeg" alt="responsive" class="img-rounded fit-image" style="height:40%"><hr style="color:black;">
                    <div class="caption">

                      <h5> From Gharwal School Of Painting</h5>
                    </div>
                   <img src="assets/images/pain1.jpeg" alt="responsive" class="img-rounded fit-image" style="height:40%"><hr style="color:black;">
               </div>
              <h3>Miniature Paintings</h3>
              <p>Miniature painting school is one of the major  schools of miniature paintings. Although derived from the style of Mughal miniature paintings,
                these paintings developed styles in subsequent years.Given the wonderful natural beauty od the land, it was natural that the artists and poets would be
              attracted to the state. It was often a haven for runaways because of its location,hidden from the woorld
            in the lap of mighty Himalayas.</p>
            <h3>Wall painting</h3>
            <p>Wall paintings of Uttarakhand has emerged from the years of anonymity and has become widely appreciated
              because value an decorative splendor.These wall paintings are widely praticed in the Garhwal and Kumaun regions of
              the state. These paintings have rich tradition behind them and were not known too the world. It was only recently that the
              art connoisseurs of the world took note of these wonderful paintings. Uttarakhand's wall paintings mainly served for decorative and  ritualistic
              purpose but their aesthetic values are high.
            </p>
            <h3>Mughal Paintings</h3>
            <p>Mughal Paintings of Uttarakhand are onr of the most influential schools of Mughal miniature painting,alogside
              the Punjab and the Kangra Schools. These paintings exhibit a combination of various influences.At the same time,
              it manages to hold its own as a seprate and ingeniousness art form. Mughal miniature paintings is one of the most
              illustrious traditions of miniature paintings in the world. It has its origin during the exile of Humayun, who brought artists from
              Hirat ane Persia to illustrate the splendor of the Mughal courts. By the time of Akbar, who was a  great
              patron of art, the greatness of Mughal Miniature was well established.
            </p></div><hr style="color:black;">
            <div class="row">
                   <div class="col-md-8">
                    <h3><b>Wood Carving (Likhai)</b></h3>
                    <p>
                       The wood carvings of Gharwal and Kumaun are renowned for their simple yet delicate and attractive designs.
                        It has almost come to a standstill today as a result of the depleting tree population
                        and environmental concerns. Nevertheless,
                       one can still enjoy the carved architecture in the religious places like temples and homes of affluent people.
                       In ancient days every house had a wood carved entrance door. Carved doors served as an indication of a person’s wealth and
                       prosperity. The wealthier a person was, the bigger was the front wooden door. The designs were more convoluted and
                       so were the carved designs. Even today the front doors of many houses of Garhwal and Kumaon are brilliantly carved
                        with floral designs, animals and fish.
                        These ornamental wood carvings done on front doors are called ‘Kholi’ in the local language (Gharwali).
                        The designs are very facinating as these designs are based on environments and the surroundings of Uttarakhand.
                        Designs of creepers and floral appearances based on lotus, pomegranates and grapes, images of humans, birds, animals and
                        other sacred signs and emblems find expression in the wood carving on door panels, windows and ceilings.
                        The patterns are typically of the Gods and Goddesses which adds to the opulence of the carved wooden latticed frames.
                       </p></div>
                       <div class="col-md-4">
                           <img src="assets/images/wood.jpg" alt="responsive" class="img-rounded fit-image" style="height:40; "> <hr style="color: black;">
                           <img src="assets/images/wood2.jpeg" alt="responsive" class="img-rounded fit-image" style="height:40%"><hr style="color:black;">
                           </div><hr style="color:black;">
   </div>
 </div><hr style="color:black;">





