  <!-- content for the website -->
  <div class="container">
    <div class="jumbotron home-spacer"style= "display: block;">
      <h2 style="text-align: center;"><b>Famous Temples Of Uattrakhand (Devo Ka Sthal)</b></h2>
      <h5>Reason for which Uattarakhand is  referred to as the "Devabhumi" (literally "Land of the Gods") due to numerous Hindu temples and pilgrimage
       centres found throughout the state.It is known for the natural environment of the Himalayas</h5>
     </div>

        <!--Content for the site-->


     <div class="row"> <h2><b>Badrinath</b></h2><br>

        <p> Badrinath or Badrinarayan Temple is a Hindu temple dedicated to Lord Vishnu which is situated in the town of Badrinath in Uttarakhand, India.
           The temple and town form one of the four Char Dham and Chota Char Dham pilgrimage sites.The temple in Badrinath is also a holy pilgrimage site for Vaishnavites.
           Badrinath is also gateway to several mountaineering missions headed to mountains like Nilkantha.<b>Badri denotes to a berry that was said to grow plentifully in the area, and nath means "Lord of"</b>.
           The portals of Shri Badrinath Temple are opened for the pilgrims mostly between May to June and September to October. With the onset of the Monsoon season,
           Badrinath witnesses heavy rainfall and a drop in temperature.
           A religious ceremony is performed during the opening and closing of Badrinath Temple. This Dham was established by Adi Shankaracharya in the 9th century.
           The deity of Badrinath temple is Lord Vishnu.</p>
           <p>It has located only 24 kilometers from the Indo-China (Tibet) border. Badrinath is normally a one day journey from either Kedarnath, the site that precedes it in the Char Dham journey,
             or one of the main alighting points on the plains. The temple and its nearby village are accessible by road. </p>
             <b>Badrinath is one of the Deshams</b>
             <p>One of 108 Divya Deshams Divya deshams are the most important Vishnu temples mentioned by Tamil saints. There are 108 divya deshams of which 105 are in India. Badrinath Temple located in Uttarakhand is one among these holy shrines and no wonder people from all over flock into this temple every year.
             </p> </div><hr style="color:black">
     <div class="row">
         <div class="col-md-3">
             <img src="assets/images/badri3.jpeg" class="img-rounded fit-image" alt="Nature">
             <div class="caption">BadriNath Temple</div>
         </div>
         <div class="col-md-3">
             <img src="assets/images/bad.jpeg" class="img-rounded fit-image"alt="Snow"><div class="caption">Temple During winter</div>
         </div>
         <div class="col-md-3">
             <img src="assets/images/badri1.jpeg" class="img-rounded fit-image" alt="Mountains">During Occassions<div class="caption"></div>
         </div>
         <div class="col-md-3">
             <img src="assets/images/badri2.jpeg" class="img-rounded fit-image" alt="Lights"><div class="caption">Reopening of Temple</div>
         </div>
     </div><hr style="color:black">

     <!--Second column -->
     <div class="row">
       <h2><b>Kedarnath</b></h2>
       <p>Kedarnath is a hindu temple dedicated to Lord Shiva situated in Rudraprayag district of Uttarakhand.
       It is one of the most famous Hindu temple devoted to Lord Shiva in the Indian subcontinent and around three million people visit it every year from various
        parts of India and World. The temple of Lord Shiva was built in Kedarnath, by the five Pandava brothers of the Mahabharata.
      According to a mythological account, the god Shiva agreed to dwell here at the request of Nara-Narayana.
      After the Kurukshetra War, the Pandava brothers, came here to meet Shiva on the advice of the sage Vasudev Krishna, because they wanted to seek forgiveness for killing their sin of killing their brothers(Kaurawaas) during the war.
      Pandavaas went to mount kailaash to find Shiva. However, Shiva was very furious and he did not wanted  to forgive them , so he turned into a bull and hid among the cattle on the hill.
      When the Pandavas managed to track him, bheem(Kunti's second son) tried to hold on to the bull's tail and hind legs. But the bull vanished underground at Guptakashi. After seeing dedication of pandavaas to find shiva,
       ,Lord Shiva appeared infront of Pandavaa and gave them his forgiveness  in the form of bulls back (hump,peeth).Then Pandava brothers then built the first temple at Kedarnath.
      Then the remaning  portions of Shiva's body later appeared at four other locations and collectively,
      these five places came to be known as the five Kedaras ("Panch Kedar").
      Those Five Kedaar's are:</p>
      <ul>
       <li>Kedarnath : appeared in the form of bull's Hump.</li>
       <li>Tughnath: appread in the form of bahu(arm).</li>
       <li>MadhyaMaheshwar: appeared in the form of stomach and navel portion.</li>
       <li>Kalpeshwarnath: appeared in the form of jata.</li>
       <li>Rudranath: appeared in the form of head portion.</li>
       </ul></div><hr style="color:black">
       <div class="row">
         <div class="col-md-2">
             <img src="assets/images/kedar.jpg" class="img-rounded fit-image" alt="Nature">
             <div class="caption">Kedarnath Temple </div>
         </div>
         <div class="col-md-2">
             <img src="assets/images/tughnath.jpg" class="img-rounded fit-image"alt="Snow"><div class="caption">Tughnath </div>
         </div>
         <div class="col-md-2">
             <img src="assets/images/madhya.jpg" class="img-rounded fit-image" alt="Mountains"><div class="caption">Madhya Maheshwar</div>
         </div>
         <div class="col-md-2">
             <img src="assets/images/kalp.jpeg" class="img-rounded fit-image" alt="Lights"><div class="caption">Kalpeshwarnath</div>
         </div>
         <div class="col-md-2">
          <img src="assets/images/rudra.jpg" class="img-rounded fit-image" alt="Mountains"><div class="caption">RudraNath</div>
      </div>
      <div class="col-md-2">
        <img src="assets/images/keda2.jpeg" class="img-rounded fit-image" alt="Mountains"><div class="caption">Kedarnath</div>
    </div>
        </div><hr style="color:black">


         <!--Third Column -->

     <div class="row">
       <h2><b>Naina (Nanda)Devi Nainital</b></h2>
       <p>Naina Devi temple came into existence when Lord Shiva carried the corpse of Sati, after when she sat herself on fire, because of the insult of Mahadev by her father(Daksh Prajapati).
         Her eyes fell to the ground where the temple currently stands. The town, the lake, and the temple borrow its name Naina (eyes) Devi temple. Finding its ways from Kushan period, popularly
         known as Nanda or Naina Devi in the Kumaon region, an ancient temple is understood to have been built in 15th century AD.Later in 1842, the first Naina Devi idol was installed by Moti Lal Shah. However,
         in 1880, the temple was completely ruined because of the landslide.</p></div>
         <div class="row">
    <div class="col-md-3">
             <img src="assets/images/nanda1.jpg" class="img-rounded fit-image" alt="Nature">
         </div>
         <div class="col-md-3">
             <img src="assets/images/shiv.png" class="img-rounded fit-image"alt="Snow">
         </div>
         <div class="col-md-3">
             <img src="assets/images/bells.jpeg" class="img-rounded fit-image" alt="Mountains">
         </div>
         <div class="col-md-3">
             <img src="assets/images/nanda2.jpeg" class="img-rounded fit-image" alt="Lights">
         </div></div><hr style="color:black">

     <!--Fourth column -->
          <!--Third Column -->
          <div class="row" >
           <h2><b>Haridwar (Hari Ka Dwaar)</b></h2>
           <p>Hardwar, is an ancient city and municipality in the Haridwar district of Uttarakhand, India.
             According to legend, it was here that Goddess Ganga descended when Lord Shiva released the mighty river from the locks
              of his hair. <b>The River Ganga, after flowing for 253 kilometres (157 mi) from its source at Gaumukh at the edge of
              the Gangotri Glacier, enters the Gangetic Plain for the first time at Haridwar</b>, which gave the city its ancient name,
              Gangadwára.</p>
             <p> Haridwar or Hardwar is regarded as one of the seven holiest places (Sapta Puri) to Hindus. According to the Samudra manthan, Haridwar along with Ujjain, Nashik and Prayagraj (Allahabad) is one of four sites where drops of Amrit,
            the elixir of immortality, accidentally spilled over from the pitcher while being carried by the celestial bird Garuda.
          This is manifested in the Kumbha Mela, which is celebrated every 12 years in Haridwar. During the Haridwar Kumbh Mela,
           millions of pilgrims, devotees, and tourists congregate in Haridwar to perform ritualistic bathing on the banks of the
           river Ganges to wash away their sins to attain Moksha. Brahma Kund, the spot where the Amrit fell, is located at Har ki
            Pauri (literally, "footsteps of the Lord") and is considered to be the most sacred ghat of Haridwar.
             It is also the primary center of the Kanwar pilgrimage, in which millions of participants gather sacred water from
              the Ganga and carry it across hundreds of miles to dispense as offerings in Śhiva shrines.
         </p></div><hr style="color:black">
         <div class="row">
        <div class="col-md-3">
                 <img src="assets/images/hari.png" class="img-rounded fit-image" alt="Nature">

             </div>
             <div class="col-md-3">
                 <img src="assets/images/hari2.jpeg" class="img-rounded fit-image"alt="Snow">
             </div>
             <div class="col-md-3">
               <img src="assets/images/la.jpeg" class="img-rounded fit-image"alt="Snow">
              </div>
              <div class="col-md-3">
               <img src="assets/images/river2.jpg" class="img-rounded fit-image"alt="Snow">
              </div></div>

             <hr style="color:black"></div>


