p{
  font-size: large; color:black;
  margin-left: 14px; margin-right: 14px; justify-content: safe;
  font-family: 'Source Serif Pro', serif;
}
.jumbotron {
  display: block; text-align: center; margin-top: 30px;
}
.jumbotron h2{
  margin-top: -40px;
}
.jumbotron h5{ padding-top: 10px; margin-left: 14px; margin-right: 14px;
  justify-content: safe;}
.row{
   margin-top: 2px;
}


.fit-image {
  width:100%;
  height: 200px;
  padding: 3px;
}
