<div class="container">
  <div class="jumbotron">
    <h2 style="text-align: center;"><b>Folk Songs and Dances</b></h2>
    <h5> Folk music and dance is not just an  art as it is a process, an attitude, and a way of life; that represents the culture.
      </h5>
   </div>

   <div class="row">
   <p> Uttarakhand is famous for its numerous dance forms. Each of the Kumaun and Garhwal regions possess their own
    individual and characterstics dance forms, which are striking in their novelity.</p>
     <h2 style="text-align:center;"><b>Puja folk songs</b></h2>
     <p>Puja folk songs of Uttarakhand are widely popular across The Himalayan foothill.
       These are basically religious songs which are sung during any holy ritual or when any particular
       God or Goddess is worshiped. As there are tribes there are various numbers of folk songs according  to the God or Goddess each tribe worship.<br>
      There are puja folk songs that include "Tantra" "Mantra" to throw out evil spirit from human
       body. Moreover there are some puja folk songs which are used to call spirits. One of such thing is called
       "Jaagar(जागर)".
     </p>
       <h3>Bajuband</h3>
       <p>Bajuband of Uttarakhand is mellifluous folk song and has a deep meaning as its a romantic
         song of shepherd's community and depicts their love and sacrifice for their beloved.
        Bajuband is more likely to be known across the whole state,
      this song is more like a dialogue of love between a man and a woman.This folk songs is mostly
    sung during festivals.</p>
    <h3>Mangal</h3>
    <p>This folk song comes from the Garhwal region.These songs are sung during mariage rituals
      as they are considered to be sacred and sung along with the "shlokas" chanted by priests.
      It is considered as a blessings to the couple for their better life together. That is why these are to be sung
      when the priests perform holy ritual and chants holy scripts written millions of years ago.
    </p>
    <h3>Basanti</h3>
    <p>Basanti is one of the most popular song of Uttarakhand which is sung during the arrival of spring season when the flowers
      blooms and add glare to the beauty of the state. When the spring is about to take
    over the Himalayan foothill, people across the state starts singing Basanti.</p>
   <h3>Chounphula</h3>
   <p>It is on of the very special folk song of the Himalayan region as it is written to treasure
     the nature during various occasions and seasons.It is accompanied by Chounphula dance form which are generally seasonal
    dance forms and add more colours to the song which describes beauty of the nature.
    Mainly performed by women as they revalue the classic beauty of the Himalaya foothills with their
    melodious voice. They perform Chounphula during various seasons and festivals
    such as Basant Panchami to sankranti to Baisakhi.
  </p>
  <h3>Jaagar</h3>
  <p> Jaagar is considered as a multi purpose folk song as it is used for spirits and ghosts and also used as religious
    hymns while offering prayer to God and Goddess, it is also accompanied by folk dances.
    But mostly used to call spirits and ghosts of  people so that their family members can meet
    and talk to them. There are many numbers of Jagaar's but most renowned jaagars of Uttarakhand are:
    <b>"Ganganath","Gorilla" and "Bholanath"</b>. It is also believed while performing these jaagars, God or Goddess
    comes inside  the body of the person performing Jaagar,so that person  can use his powers to cure other people's dieseas.
  However, due to education and awareness  people have started adopting medical sciences.
  <h5>Jagaria and Dangaria</h5>
  <p>Jagaria and Dangaria are the two important people during performing Jaagar.
    Jaagar is one who sings and plays the instrument "Hudka" and Dangaria
  is one who dances on the tune.Jangaria sings folk songs which are dedicated to
  local gods/goddess and believed to be valour stories of earlstwhile kings, rajkumars, or chieftants
  of Chand, Katyur,Gorkha or other dynasties.</p>
  <h3>Fag/ Shagun</h3>
  <p>This is a folk song performed at various functions like marriage, naamkaran sanskar, janeu sanskar, etc. in two
    generally elderly ladies sing a song called Fag or Shagun in synchrony. These are basically
    wishes from the god for one whose ,marriage of other ceremony is being performed. "Shaguna de" has become popular now days
     and even got viral on social media in 2018-2019.
  </p>
  <h3>Khuded</h3>
  <p>Khuded is one of the most famous folk songs of Uttrakhand which describes the misery and pain of a lady
    who has been living apart from her husband. this song tells about the suffering of a woman
    who has been left alone after her husband has left hervat home and went to search a job in other places.
    Khuded depicts the life of a family with financial problems,where husband has to move out in search
    of a job so that he can provide a better life to his family, the one he has left behind.
    Each and every word of this song has deep pathos attached to it.
  </p>
  </div>
  <h2 style="text-align: center;"><b>Kumauni Dances</b> </h2>
  <div class="row">
   <h3>Chhapeli</h3>
    <p>Performed in couples, female with a mirror in one hand and coloured handkerchief in another.
      The male plays "Hudukka" on his left shoulder accompanied by others playing "Hurka","Manzira"and "Flute".
       The dance,a duet delineates the joy of romance. The woman(somtimes a small boy), with a smile
       and graceful waist movements,dances either in praise of her beauty or mocks her way
       of expressing love.
    </p>
    <h3>Chholiya</h3>
    <p> Over a thousand years old, this dance originated with the batteling Khasiya Kingdom
      of Khasdesh, when marriages were performed at sword point. Sustaining tradition, the Rajput perform it as part of the mariage
      procession proper. Flashing swords ans shield in pairs, to theDhol, Turi and Ransingwar,they
      giv the impression of a group advancing to attack. The trained dancers hail from Champawat to Almora.
    </p>
    <h3>Chancheri</h3>
    <p>This is group dance of Danpur Patti of Bageshwar district in Kumaun, here men and women,dance in a
      semi circle with low increasing pace, expressing their unbridled joy.
    </p>
    <h3>Bhen</h3>
    <p>Folk dance performed by women in special ceremonies, in which they hold hand in particular manner and walk around
      in circle in a special step pattern. Every two steps ahead followed by a step back and many folk son
    are sung during this dance performance.</p>
    <h3>Jhoda</h3>
    <p>This is another dance performed by women during special ceremonies and functions like
      marriage and other gatherings.It is similar to Bhen but slightly different in terms
    that it involves jumping one step ahead in place of specific leg moments performed
    in Bhen.It is more powerful and aggressive in comparison of Bhen.</p>
    <h3>Kumauni Khadi and Baithaki Holi </h3>
    <p>Holi is celebrated with gaity and fanfare in Kumaun region of Uttarakhand it spans over a minimum
      period of six days and extends over a month. Khadi holi is popular among males
      (called holiar ) in which fire is lit in the center and two teams rotate around different
      pattern of steps with two step ahead and one step back holding each others hand and singing holi songs.
      Baithaki Holi is more popular among womens as they sing and dance over Holi songs.
    </p>
    </div><br>
    <h2 style="text-align: center;"><b>Garhwali Dances</b></h2>
    <div class="row">
    <h3>Langvir Nritya</h3>
    <p>This is an acrobatic dance performned by men. Below a long and anchored bamboo pole, musician play the "Dhol" and
    "Daman" while a dancer acrobat rotates at the top participating in feats using his hands and feet.
  This dance is popular in Tehri Garhwal. </p>
    </div>
  <h3>Barada Nati</h3>
  <p>It is a folk dance of the Jaunsar Bhawar region of Chakrata Tehsil in Dehradun,performed
    prior to religious celebrations or on the occasions. Both boys and girls participate, attired in
  colorful conventional  clothes.</p>
  <h3>Shotiya</h3>
  <p>Shotiya tribals have characterstics dances like "Dhurang" and "Dhuring" linked with the death rituals.
    The dance resembles the pastorals of Himachal Pradesh or the hunting dances of Nagaland.
  </p>
  <h3>Pandav Nritya</h3>
  <p>This is actually the straightforwar related with the story of Mahabharata through dance and music,
    which is usually performed during "Dussehra" and "Diwali". It is practiced in Chamoli
  district and in Pauri Garhwal. Legends says that th origin of Pandava Nritya at Uttarakhand can
  be traced back to the period when Pandavas were the ruler of Uttarakhand. It is intrinsically connected to the
   festivities of the Hindu populace of the state. It seems to be almost synonymous with the "Dussehra" and "Diwali",
  beacuse during this time Pandava Nritya performance becomes mandatory.</p>
  <h3>Chakravyuh</h3>
  <p>This is a powerful dance with some singing presentation in Garhwali style which depicts Chakravyuh of Mahabharata.
    In this first a Chakravyuh is prepared on an open ground. A team performs role of Demon, Abhimanyu,
  Kauravas,Pandavas and others like Guru Dronacharya,Bheeshma and Subhadra. Another team sings in a powerful
  and realistic terms with support of instruments like Harmonium ,table,dhol damau, ransingh etc. it is believed
  tahat at the end of this performance rain happens automatically.</p>
  <h3>Painasara  'Celebrating Death'</h3>
  <p>
    Painasara is also called dance of death in Garhwal region performed at the death od person as a funeral
    tradition that is believed to be 2000 years old.The musical instrument used in this are dhol dhamau(traditional drums)
    and ransingha( a handcrafted trumphet). It is long held belief in the hills tat death is a liberation
    from sufferings, and therefore passing os a person specially an elderly is marked by  Painsara.The
    musicians who are reffered as bajgi conduct the performance as per a set pattern not an arbitrary one.<br>
    The bajgi perform standing sa well as sitting. They raise their drum over their head as well as sway it side to side hile regylating
    the tempo of the beat and making sure that they are in perfect synchrony with each other.<br>
    Another unique ritual during the ceremony is that a pagdi is placed on the head of the body and a Bhagwat
    Gita placed in the hands and spectacles on the eyes to give an impression that the deceased
    person is reading the religious text on their last journey.</p>

  </div><hr style="color:black">

