<!-- content for the website-->
<div class="container">
  <div class="jumbotron">
    <h2><b>Pahadi Cuisine </b> </h2>
    <p>Whenever we talk  about traditional foods, Uttarakhand  has varieties in taste. Traditional food tells about the culture and
       versatility of a particular place or a region,cuisine of this place is highly nutritious,easy to prepare and appealing at the same time.It highlights the unique
       facinating culture ,climate effects on the livings and habits of the locals.This food is very healthy and provides essential nutritions for the high and cold region.</p>
    </div>

    <h6> As Uttarakhand is the combination of Kumaun and Gharwal regions
                receipes can be divided in toe categories:
              Kumauni Receipes: Bhhang Ki Chutney, Singhal,Sahi and many more.
          Gharwali Receipes: Roat,Til ki Chatani, Aloo Tamatar Jhol.</h6>

             <div class="row">
                 <div class="col-md-8">
            <h2><b>Urad Daal Ke Bade</b> </h2>
            <p> Urad daal ke bade(Wada) are also called pakoras. These are special wadas prepared during festivals like
             bhai dooj, govardhan pooja , mostly on festive occassions. Receipe for the prepartion of these Wadas is easy so people
             like to eat in snacks also. It is prepared by soaking Urad daal overnight ,it is starined and grind into fine paste.Then ajwain,garam masala ,heeng and salt are added to that paste.
             Then small balls are prepared from the paste by applying water on the palms.Then they are deep fried in the sarson oil and are served with chutney.</p>
            </div>
            <div class="col-md-4">
                   <img src=" assets/images/bada.jpg" alt="responsive" class="fit-image"><hr style="color:black;">
               </div></div>

               <div class="row">
                       <div class="col-sm-8 col-md-8 col-lg-8">
             <h2><b>Bhatt Ki Churdkani</b></h2>
             <p> Bhatt is a variety of pulses.Having rich aroma that spreads in the room for a while, this dish is
              one of the best dish that Uttrakhand's locals eat during winters.It is also spelled  as Churkani is a healthy dish and
              prepared from black bhatt blended with rice paste and flour. Wwith high nutritive value,
              Bhatt ki Churdkani can be serverd with steamed rice. The dish contains all the essential vitamins, proteins and minerals so people can have it any time.</p>
             </div>
             <div class="col-md-4">
                   <div class="caption">
                   <img src="assets/images/chu.jpg" alt="responsive" class="fit-image">
                   <hr style="color:black;">
                   </div>
               </div>
           </div>
           <div class="row">
                   <div class="col-sm-8 col-md-8 col-lg-8">
           <h2><b>Mandua Ki Roti</b></h2>
              <p>Mandua ki roti is sort of a chapatti(flat bread) prepared with cereal called mundua.   It is the part of main course and it
              served as an option with the normal chapattis made from wheat flour. This roti represents the cooking style of Uttrakhand's locals.
              It is famous among the tourists visiting Uttarakhand. It is preapred with the mandua flour. </p>
               </div>
               <div class="col-md-4">
                       <img src="assets/images/roti.jpg" alt="responsive" class="fit-image"><hr style="color:black;">
                   </div>
               </div>
               <div class="row">
                       <div class="col-md-8">

             <h2>Aloo Tamatar Ki Sabzi</h2>
               <p> Aloo Tamatar ka Jhol is an easy to cook dish that can be prepared in less than 15 minutes. All you need to do
                    is boil some potatoes, make a curry out of tomatoes and onions, mix both and leave it to cook on low flame.
                    dish is so famous that it is cooked in the same traditional manner in the cities as well as in the villages
                    of Uttarakhand.
              </p></div>
              <div class="col-md-4">
                   <img src="assets/images/aloo.jpeg" alt="responsive" class="fit-image"><hr style="color:black;">
               </div>
               </div>
               <div class="row">
                       <div class="col-md-8">
              <h2><b>Aloo Ke Gutake</b></h2>
              <p>This mouthwatering dish comes from the Kumaun region but is equally popular in Gharwal region as well.
                  Every house of Uttarakhand has its unique way tp prepare it and in its every version it tastes
                  amazing. This dish is mostly preapred on special occassions like in fast,weddings,and many rituals.
                  This is served with puri and bhaang ki chutney Kumauni raita.
              </p></div>
              <div class="col-md-4">
                   <img src="assets/images/gutk.jpeg" alt="responsive" class="fit-image"><hr style="color:black;">
               </div></div>
               <div class="row">
                       <div class="col-md-8">
              <h2><b>Dubuk</b></h2>
              <p>Having a subtle taste, this dish is good for stomach and tastes better when served with plain white rice, Bhang ki Chutney or Muli Thechwa (crushed radish). Dubuk also referred to as ‘dubuke’ is generally prepared
                  from bhatt ki dal, gahat ki dal or arhar ki dal which is then converted into a fine
                   paste and is cooked on low flame.</p></div>
                   <div class="col-md-4">
                           <img src="assets/images/dub.jpeg" text="source" alt="responsive" class="fit-image"><hr style="color:black;">
                       </div></div>

                       <div class="row">
                       <div class="col-md-8">
                   <h2><b>Palak Ka Kaapa(Kafuli)</b></h2>
                   <p> Paalak Ka Kaapa is a thick gravy preparation made from
                       greeny spinach.To prepare this dish, two main ingredients namely spinach and fenugreek leaves are cooked together in an iron pot, after
                       which salt and spices are added to enhance its flavour.
                       The gravy for Kafuli is prepared by making a paste made out of rice or wheat and adding water to it.</p>
                   </div>
                   <div class="col-md-4">
                           <img src="assets/images/kafuli.jpeg" alt="responsive" class="fit-image"><hr style="color:black;">
                       </div></div>

                       <div class="row">
                               <div class="col-md-8">
                   <h2><b>Bhaang Ki Chutney</b></h2>
                   <p>Making our mouth water with its tangy tamarind taste, this famous sauce of Uttarakhand is made from hemp seeds, cumin seeds, garlic leaves, tamarind, and salt.
                        When served with the traditional Pahadi cuisines, it enhances their taste and creates a spell on our taste buds.</p>
                     </div>
                     <div class="col-md-4">
                           <img src="assets/images/bha.jpeg" alt="responsive" class="fit-image"><hr style="color:black;">
                       </div></div>
                    </div><hr style="color:black">




