<div class="container">
  <div class="jumbotron">
    <h2 style="text-align: center;"><b>Language and Dialects Of Uttarakhand</b></h2>
    <h5>“Language is the road map of a culture. It tells you where its people come from and where they are going.”<br>
       <span style="text-align: right;">– Rita Mae Brown</span>
    </h5>
   </div>


     <div class="row">
     <p> Hindi,English and Sanskrit are recognized languages od Uttarakhand. Punjabi and Urdu are also
      are other two languages spoken, while former is spoken in the distrcit of UdhamSingh Nagar
      and the later in district of Haridwar.
      But a Pahadi's identity is incomplete without two major dialects Kumauni and Garhwali of the state.
      Both Kumauni and Garhwali are both written in Devnagari script and belongs to Indo Aryan family of
      languages.<br>
      They are influenced by Hindi and Sanskrit languages. With the advent of large number
      of people from Rajasthan during medieval period Rajasthani also influenced these dialects.
      Apart from Rajasthani dialects, Darad dialects mainly Khas is written in Prakrit also has
      impact on Garhwali and Kumauni dialects.<br>
      In reality  Kumauni and Garhwali are dialects of same language called Central Pahadi.
      During medial times the region was ruled by different dynesties that is when Kumauni and Garhwali
      came into existence. Both the dialects has same dictionary and grammer, the difference is due to
      the geolgraphical realities.<br></p>
    </div>
    <div class="row">
  <h2>Hindi</h2>
      <p>This is one of the most popular languages spoken in this place and a majority of people in Uttarakhand speak this language.
         In the last few years the number of Hindi speaking people here have also increased to a great extent.
        As much as 88.26% of people today speak in Hindi here. This is the official language of the place and even the
        illiterate people here are able to speak this language.
         This is the language that is also used in schools in order to teach the various subjects.
          Though this is not the mother tongue of the people living in the remote areas, however, it is certainly a language that they
          all know.</p>
    </div>
    <div class="row">
    <h2>Kumauni</h2>
    <p>This is spoken in Kumaun region of the state mainly in hilly areas.Apart from Khas written in
      Prakrit Awadhi  dialects has greatest impact over it. Various artfacts and stone carvings prior to 14th century
      found in the region indicate large number of Sanskrit words in this dialects.<br>
      Kumauni is for instance spoken in these regions: the North-Eastern Kumauni in Pithoragarh, the South Eastern
      Kumauni in the South Eastern part of Nainital and the Central Kumauni in Nainital and Almora.
    </p>
    </div>
    <div class="row">
      <h2>Garhwali</h2>
    <p>It is believed that Garhwali dialect has its origin Shaurseni languages.Maxmuller believed it to be
      a typeof Prakrit language, yet apart from these languages, Sanskrit,Pali language too have their
      influence over this dialect.<br>
      This language is spoken by the people residing in the North Western part of the Garhwal region. This language actually consists of a number of dialects and these include the Badhani, Tehri, Srinagariya, lohbya,
       Srinagariya, Jaunsaria and others. These dialects are very much different from each other.
  </p>
    </div>

  <div class="row">
    <h2>Sanskrit</h2>

    <p>Sanskrit is the ancient language.This language contains high quality literature, it is also called the mother of Aryan languages.
      The ancient Vedas has been written in this language,hence importance of this language is paramount.
      Study of ancient and cultural languages arise in its own right and curiosity. In Uttarakhand state
      it has been given status of second language.
      For the promotion of Sanskrit education, the state Uttarakhand has constituted the Directorate of Sanskrit Education
       Sanskrit Academy and Sanskrit University.All these efforts have been with a purpose to complete
       and planning to increase the awareness and Sanskrit education everyday.
    </p>
  </div>
  </div><hr style="color:black">
