<!-- content for the website-->
<div class="container">
  <div class="jumbotron">
    <h2>Delightful Sweet Taste Of Uttarakhand </h2>
     <p>Every Pahari have relished the mouth watering Pahari sweets of Uttarakhand such as Arsa, Singori, and Bal Mithai in their childhood days.
      There sweet flavours lasts long  and no one can  resist eating these sweets whenever people visit their native villages.
    </p></div>
    <div class="row">
      <div class="col-md-8 ">
          <h2><b>Singori (Singauri)</b> </h2>
          <p>  The origin of Singori is belived to be the old province of district Almora Kumaun region (Uttarakhand).
               This tempting sweet is made with Khoya wrapped in the form of a cone made of Maalu Leaves,garnished with coconut.
               This Sweet is the one of the speciality of Uttarakhand that lures locals,natives and tourists to have its taste.
               An extraordinary component of this sweet  leaf ‘Molu” is found in the slopes of Uttarakhand. As it is  an unhealthy sweet,
                it is exceptionally amid celebrations yet accessible in significant markets in every one of the seasons of year.
               </p> </div>
               <div class="col-md-4 ">
                    <img src="assets/images/singori.jpeg" alt="responsive" class="fit-image">
                 </div> </div>
                 <hr style="color: black;">

      <div class="row">
        <div class=" col-md-8 ">
          <h2>Baal Mithaai</h2>
              <p>Baal Mithai ( बाल मिठाई) is a brown chocolate-like fudge, made with roasted khoya, coated with white sugar balls, and is
                                a popular sweet from district Almora in the Himalayan state of Uttarakhand in India, especially regions around Almora.
                                It is one of the most favourite sweet of common people and the people living near almora region.
                                But now in some places artificial or fake sweets are also made up to fool tourists and selled on much higher price too
                                It is made by cooking khoya (milk cream) with cane sugar, until it becomes dark brown in color, colloquially called "chocolate" for its color resemblance.
                                This is allowed to settle and cool, and cut into cubes which are then garnished with small white sugar balls.
                                Lala Joga Ram Shah of Lal Bazaar,Almora proposed the receipe of this mouthwatering sweet,during early 20th century
                                Over the past  years, this sweet has found home in many Kumauni stories and folklore, arising from the background of Kumaon,
                                as evident from the stories of noted Hindi writer. </p></div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                        <img src="assets/images/bal.jpg" alt="responsive" class="fit-image"><hr style="color: black;">
                                     </div></div><hr style="color: black;">

        <div class="row">
          <div class="col-md-8">
            <h2><b>Arsa</b> </h2><p>
              The traditional Arsa dish that has been an integral part of the Garhwali and Kumaoni culture and is offered on every major auspicious
              occasion since ages has been given a facelift and is being sold as an alternate to the sweets sold at the shops that are generally feared to
              be made from adulterated Khoya or Mawa (solid milk) that is high on its sugar content too.
              to prepare and pack the sweets in innovative form was not easy.The Arsa is prepared by
               beating rice  down  in “Okhlis” and then  the rice paste is mixed with water overnight and after that jaggery is out in it
               to sweeten the taste and then fried in cooking oil.People are trying to put Arsas, as a gift option as it would
               not only help in conserving the traditional dish but would also help the farmers economically who grow the rice used in it.
              </p></div>
               <div class="col-sm-4  col-md-4 col-lg-4">
                <img src="assets/images/arsa.jpg" alt="responsive" class=" fit-image">
                <hr style="color: black">
              </div></div>
              <hr style="color: black;">
               <div class="row">
                  <div class=" col-md-8 ">
                      <h2><b>Jhangora Ki Kheer </b> </h2>
                      <p>Jhangora Ki Kheer is a sweet dish of Uttaranchal made out of a local millet called Jhangora. It is hailed for its rich texture
                        and taste that lasts on the taste buds for quite a long time. This dish is a must have as it has the goodness of milk, cashews and raisins.
                        It consists ingredients like: barnyard millet, sugar,cashews,raisins, milk,kewra essence and almonds.
                        It is prepared during festive occasions and is mostly  popular sweet dish in Garhwal regions.</p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <img src="assets/images/kheer.jpg" alt="responsive" class=" fit-image">
                            <hr style="color: black;">
                            </div></div></div>










