<div class= "container">


  <h1 class="text-center" style="margin: 30px; font-family:Arial, Helvetica, sans-serif">Photo Gallery</h1>


  <div class="card-columns">
    <div class="card "> <img class="card-img-top" src="	assets/images/templight.jpg	" alt="Card image cap">
      <div class="card-body">  <p class="card-text">Nanda Devi Temple during Nanda Utsav</p></div></div>

    <div class="card "><img class="card-img-top" src="assets/images/cor.jpeg" alt="Card image cap">
    <div class="card-body"><p class="card-text">Corbett Jungle </p>  </div> </div>

   <div class="card "> <img class="card-img-top" src="assets/images/hilamalay.jpg" alt="Card image cap">
    <div class="card-body"><p class="card-text">Himalaya Darshan From Nainital </p>  </div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/cheena.jpg"  alt="Card image cap">
      <div class="card-body"><p class="card-text">Mango shaped Nainital Lake view from Cheena Peak </p>  </div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/deer.jpeg" alt="Card image cap">
      <div class="card-body"><p class="card-text">Wild animals</p></div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/baerinag.jpg"  alt="Card image cap">
        <div class="card-body"><p class="card-text">Berinag</p>  </div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/art2.jpg"  alt="Card image cap">
         <div class="card-body"><p class="card-text">Aipen Chauki</p>  </div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/wood.jpg" alt="Card image cap">
      <div class="card-body"><p class="card-text">Wooden Carvings</p>  </div>  </div>

    <div class="card "> <img class="card-img-top" src="assets/images/tigers.jpeg" alt="Card image cap">
      <div class="card-body"><p class="card-text">Wildlife</p></div>  </div>

    <div class="card "> <img class="card-img-top" src="assets/images/jhoi.jpeg" alt="Card image cap">
      <div class="card-body"><p class="card-text">Jhoi </p></div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/boat.jpeg" alt="Card image cap">
      <div class="card-body"><p class="card-text">Lake View </p></div> </div>

    <div class="card "> <img class="card-img-top" src="assets/images/phool.jpg" alt="Card image cap">
        <div class="card-body"><p class="card-text">Phool Dehi</p></div> </div>

    <div class="card "> <img class="card-img-top" src="assets/images/shiv.png" alt="Card image cap">
      <div class="card-body"><p class="card-text">Shiv Lingam</p></div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/gutk.jpeg" alt="Card image cap">
         <div class="card-body"><p class="card-text">Aloo Ke gutke</p></div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/ntl3.jpeg" alt="Card image cap">
      <div class="card-body"><p class="card-text">Mall Road Nainital</p></div></div>

    <div class="card "> <img class="card-img-top" src="assets/images/dola.jpg" alt="Card image cap">
      <div class="card-body"><p class="card-text">Nanda Devi Dola Yatra</p></div> </div>

  </div>
</div>
<!--Fonts-->
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
