<div class="container">
  <div class="jumbotron ">
    <h2 style="text-align: center;"><b>Fairs and Festivals</b></h2>
    <h5>Fairs and festivals organized and celebrated in a region are most important part to showcase the culture
      , employment and lifestyle of people.   </h5>
   </div>


     <div class="row">
     <h3>Kumbh Mela</h3>
       <p>
          It is a sacred Hindu pilgrimage, which takes place at four locations of India.
          This pligriamge occurs four times in every twelve years once at each of these four places.</p>
          <ul>
            <li>Haridwar(in Uttarakhand) where the Ganga(Ganges) enter the plains from the Himalayas.</li>
            <li>Prayag(near Allahabad in Uttar Pradesh) at the confluence of three rivers <b>"Ganga","Yamuna,"Saraswati"</b></li>
            <li>Ujjain(in Madhya Pradesh) on the banks of Spira River.</li>
            <li>Nasik(in Maharashtra) on the banks of Godavari river.</li>
          </ul>
        <p>Each twelve year cycle includes (Maha) Kumbh Mela at Haridwar and Prayag and it is attended by millions of people, thus
          making it largest pilgrimage gathering around the globe. The Ardh Kumbh is held every six years after
          the six years of Kubh Mela. It is believed that a holy dip in Ganga during Kubh and Ardh Kumbh gives you Moksha or Nirvana.<br>
          According to the Astrolgers, Kumbh Mela takes placewhen Jupiter enters Aquarius Zodiac and sun enters Aries Zodiac.

        </p></div>
       <div class="row">
       <h3>Baishaki</h3>
      <p> Baishaki is among the important festivals of Uttarakhand. It is celebrated during the month
        of April, which symbolizes the beginning of yet another year. After harvesting season,
        people mostly relax and spend their time in leisure. Therefore, to commemorate this free
        time they start the celebration of Baishaki.At the period of transition, when the Sun
        ,moves from one contellation(sankranti) to the others, many fairs and festivals are organized.
         In Uttarakhand each sankranti is marked with a festival, namely <b>"Fooldeyi", "Bikhauti",
           "Harela", "Ghee Sankaranti", "Khatarua" "Holi Uttaraini",</b> etc.</p>
      <h3>Devidhura Mela</h3>
      <p> Devidhura mela is held in the compound of the Varahi Devi Temple of Devidhura.
        Devidhura Mela is held every year on the auspicious day of Raksha Bandhan. Devidhura
        is situated at the junction of Almora, Pthoragarh and Nainital districts.
        Devidura Mela is famous for its enchanting dance and folk songs and also for its Bagwal.
        "Bagwal" is a tradition also called stone war in which people from nearby villages
        gather at big ground in front of the temple. Then teams are formed in which the leader of the team
        carries huge Chhatra( a type of umbrella). After walking a long distance and circumventing the
        temple on the tune of local  instruments like Dhol, muskbeen, and ransingha they reach ground
        which followed by throwing of stones by teams on each other for sometime. Every year large number of people
        are gathered at Barahi Temple to witness Bangwal. Some people are injured during this fastival
        but it is believed that they do not feel pain,a s they are blessed by Maa Barahi.
        Some human right activists have requested to ban Bangwal but due to strong opposition of
         local people and looking at its religious and cultural significance requests has been denied.
      </p>
      <h3>Uttaraini Mela</h3>
      <p>Uttaraini mela is organized in many locations like <b>'Sult Mahadev', 'Bageshwar','Rameshwar', '
        Chitrashila (Ranibagh)', 'Haneshwar',</b>etc. It is held on Uttaraini day(Makar Sankaranti).
        The dhola of Chammu comes down to the temple at Pancheshwar. Merchants from distant places like
        Tibet and Nepal come to this fair for brisk tading of their goods. Among the things available for the sale are
        iron and copper pots, blankets, mats,matteresses,cane and bamboo articles, carpets,
        blankets,herbs, and spices.<br>
      Uttaraini Mela at Bageshwar attracts lots of people as well as tourists. It is important places from the cultural,
      commercial, and political point of view. The festival at Bageshwar played an important rol in the removal
      of social illness like Dhola Palki.
      </p>
      <h3>Gauchar Mela</h3>
      <p>Gauchar Mela is a great attraction for the local people and the traders and merchants from
        every year for a week starting from 14th November, it is fundamentally an industrial fair. It is
        attended widely by tourists and inhabitants of the state alike. The cultural programs like the local
        dances and songs always remains a major attraction of Gauchar mela at Uttarakhand.
      </p>
      <h3>Nanda Devi Mela</h3>
      <p>This fair is organized in <b>"Alomora", "Kot(Dangoli)", "Nainital", "Kichha","Ranikhet","Bhowali",
      and in the rural villages of Lohar(like Milam and Martoli) and Pindar valleys(like Khati and Wachham)</b> .
      The Nanda Devi mela of Almora and Roopkund are most famous.In Almora and Nainital people take part
    in the procession carrying the dola of Nanda Devi. This fair at saneti takes place every yearand it is rich
  in folk expressions and many village products are sell in this fair.</p>
      <h3>Nanda Devi Raj Jat Yatra</h3>
      <p> Nanda Devi Raj Jat Yatra is a festival that streches for whole three weeks. Innumerable people participate
        in this yatra from Kumaun and Garhwal region, the rest of the country and abroad. Goddess Nanda Devi a popular and is worshiped
        in many regions of Kumaun. This yatra is organised in every 12 years i chamoli after a royal 'priests' descendants
        and the Kunwar royal family make eleborate preparations in the village of Nauti and in Kansuwar respectively.<br>
        It is primarily a religious pilgrimage spanning for 280 kilometer. The trek takes about 20 days to complete.
     </p>
    <h3>Peeran Kaliyar </h3>
    <p>Preeran Kaliyar Festival is organized at Piran Kaliyar sharif. This is located in Rorkee tehsil of Haridwar district.
    Lakhs of Jaireens from across the country and abroad participate in Peerane Kaliyar Festival. The festival
    last for a month. It is organised on the basis of a muslim calander near 'Id E Milad'.</p>

    <h3>Vishu Mela</h3>
    <p>Vishu mela is organized at the Jhnada ground in cantonment area of Chakrata block of the Dehradun is district. It is held at the distance
      of about 3 kilometers from Chakrata. The fair reflects the tradition and cultural heritage of
      the Jaunsari tribe. A large number of people participate in Vishu Mela from nearby Uttarkashi,
      Trhrin and Saharanpur districts.The fair is organised to celebrate the harvesting season in the area . Therefore,
      Vishu Mela reflects the happiness of the local people.
    </p>
    <h3>Ramman</h3>
    <p>Ramman is an important festival of Uttarakhand that has been declared World
      Intangible Cultural Heritage ny UNESCO in 2009. The festival is celebrated in the month of Vaishakhi in
      in Salud, Sailung and Dungra villages of Penkhanda patti in Joshimath block of Chamoli district.It is based on
      Ramayana. It includes stories of lord Ram in folk form including play, swang, and worship. It also includes
      annual worship of Bhumyal devta and village(gram) devta. Pattar which is a wooden mask prepared
      exclusively by Mulberry wood is its exclusive feature.the main patters include Maur
       Mauryan(cattle rearer and his wife), Baniya Baniyan, Kuru Jogi(a jocker) and Narsingh Prahlad.
    </p>
     </div>
   </div><hr style="color:black">
