<div class="container">
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="assets/images/phool.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Phool Deli "Festival of Spring"</h5>
        <p class="card-text">Phool Dei, a common folk festival is celebrated in the state, only to welcome the spring season with enthusiasm and fervor.
           Villagers, especially children in this festival pluck the first flowers of the season from the meadows and scatter those on the threshold of homes. In some places, the festival is celebrated as carnival and the celebration goes on for a month.
           Basanti, folk songs are composed for the coming spring season when flowers bloom and new life spring in the valleys of the hills of Garhwal. The folk song is sung individually or in groups. </p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Uttarakhand as a Sainik Dham</h5>
        <p class="card-text">Uttarakhand is home of Char Dhams of "Yamunotri", "Gangotri","Kedarnath" and "Badrinath".
          Prime Minister of India Shri Narendra Modi called Uttarakhand a Sinik Dham.With this Uttarakhand government announced to develop
        Sainik Dham as a fifth dham in state. This is to recognize the unique contribution Uttarakhand in security of the country and leadership role played
      by people of state in armed forces of the country.It is the home of the headquaters of three regiments/
    Rifles of Indian Army viz Kumaun Regiment,Garhwal Rifles at Lansdowne. </p>
        <p class="card-text"><small class="text-muted">Updated: 20/09/2020</small></p>
        <p class="card-text"><small class="text-muted"></small>Source: Comprehensive study of Uttarakhand</p>
      </div>
    </div>


    <div class="card">
      <img class="card-img-top" src="assets/images/khatar.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Khatrua Festival</h5>
        <p class="card-text">Khatrua is a festival of Pastoral and agricultural Society,which is celebrated on the first day of month of Ashwin mid
           of September and it specifies beginning of Autumn Season.People prepare bonfires and decorate an tree with flowers,children dance around the bonfire holding flags.
           Locals take special care of their animals, worship them feed them fresh grass."Cucumber" is served to the fire which is means it will destroy evil influences and remaining
           cucumber is distributed among people as sacrament.Basically, it is about thanking God for his blessings on the people and their pastures. </p>
        <p class="card-text"><small class="text-muted">Updated 21/09/2020</small></p>

      </div>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Social status of Women in Uttarakhand</h5>
        <p>
              Uttarakhand society has always kept women high in regards,women play a dominant role in family,social culture, and economic life.
              Rani Karanwati and Veer Bala Teelu Rautela are two examples who led from the front when male members of family
              attained martydom. Similarly, Tinchari Mai ked movement against the intoxication and liquor in the hills.During freedom
              movement women became equal partners in struggle. Uttarakhand has no history of women subjugation like
              customs of Sati, Pardah and even widow marriage were also allowed in the society.</p>
        <p>Chipko Movement led by Gaura Devi with a group of women to save trees can be seen as the biggest example of leadership.
           Women lead various struggles against social evils, forest rights etc. </p>
        <p><small class="text-muted">Updated 20/09/2020<br>source: Comprehensive study of Uttarakhand
        </small></p>
      </div>
    </div>
    <!-- <div class="card">
      <img class="card-img" src="assets/images/khatar.jpg" alt="Card image">
    </div>
   <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"> </h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>-->
    <div class="card">
      <img class="card-img-top" src="assets/images/Raj.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Raj Bhawan Nainital</h5>
        <p class="card-text">

          Raj Bhawan, also called as Governor House is a British era building, now serves as the residence of Governor of Uttarakhand.
           Known for its magnificent looks and old age charming architecture, Raj Bhawan in Nainital previously served as summer residence of British Governors.
           Governor House or Raj Bhawan is located in splendid landscape and spreads across vast area.
           It is a two storied building consisting of 113 rooms used by Britishers as summer residence. British VIP's and guests
           stayed at Raj Bhawan during their visit to Nainital. It is built in Victoria Gothic style as a replica of Buckingham Palace.
           Best time to visit Raj Bhawan is in  March,May, June,September,October,November,December.</p>
        <p class="card-text"><small class="text-muted">Updated 21/09/2020</small></p>

      </div>
    </div>
   
  </div></div>
