<div class="container">
  <div class="jumbotron">
    <h2><b>Magnificent Architectural Structures In Uttarakhand</b></h2>
    <p>Ancient Architectural designs of an region tells about the society, creative minds, the way people in past
      used to think and science they used to build such majestic figures.</p> </div>
      <div class="row">
      <p>  Uttarakhand region boasts its own distinctive atr forms. These art forms comprise painting,
        architecture, sculpture, and other aesthetic endeavours.Both Kumaun and Gharwal region hs contributed largely to the art tradition of state.
        Art in Uttarakhand goes back to the pre historic times.
        Kumaun has a particular form of  architecture called the <b>Himadri</b> style of architecture. Numerous rock painting from proto historic period
        have been unearthed in Kumaun. Among them Lakhu, Udiyar and Lwetaap merit attention temples at Jageshwar, Almora and Katarmal Thal, Baijanath
        Someshwar,Dwarahat,Gangolihat, Patal Bhuvneshwar, Marsoli are classic specimens of regional style, corresponding to post Gupta architecture.
        Beside architecture, the art of Kumaun also displays a charactrestic style of sculpture.</p>

    <p>Uttarakhand is studded with numerous pilgrimage sites centered around temples featuring
      distinctive patterns of architecture.The temples of Kedarnath, Badrinath, Tungnath,Madmaheshwar are some
      of the better known temples of Uttarakhand.</p></div>

    <div class="row">
    <h3>Kedarnath Temple</h3>
    <p>The temple is imposing in its style and architecture. It is constructed on a rigde,
      jutting out perpendicularly from the snowy hills. The current temple, built in 8th century
      by Adi Shankracharya, stands near the site of an older temple built by the Pandavas.The inner
      precincts of the assembly hall are adorned with idols of diverse deities and mythological scenes.<br>
      Beyond the temple door looms an impressive statue of the "Nandi Bull" which seems to keep guard.
      Build on a large, heavy and evenly cut gray rock slabs, it arouses wonder regarding the manner in which these
      heavy slabs might have been handled formerly.The temple contains a "Garbha Griha" for the deity and the mandap to hold gatherings
      of pilgrims and devotees. A conical rock formation inside the temple is shown obeisance as Lord Shiva
      in his Sadashiva Avatar.
    </p>
    <h3>Tungnath Temple</h3>
    <p>The temple boasts a grand architectural design. It is also built on a rigde
      projecting from the mountains.The dome distinguishing this temple includes 16 doors containing an idol of Adi Guru Shankracharya besides the lingam.
    </p>
   <h3>MadhyaMaheshwar</h3>
   <p>Shiva is shown devotion here in shape of a naval shaped lingam. Situated at the foothills
     of Chaukhamba peak at height of 3289 meters, the classic temple architecture conforms of the North indian tardition.
   </p>
  <h3>Badrinath Temple</h3>
  <p>The temple of Shri Badrinath Ji is 15 meters in height.It is conical in structure having
    a small cupola of a filt bull and spire. Legend locates the temple historically older than the vedic period.
  </p>
  <h3>Stone Carvings</h3>
  <p>Temple architecture of Uttarakhand is the main site pf its stone carvings.
    Most of these temples have big and heavy stone carvings.The powerful and rich kings
    of Katuyaris,Paun, Chanda and Pawars dynasties of this region patronized the Uttarakhand stone carvings.
    The stones in the temples exhibit very ornamental and intricate carvings.
  </p>
  <h3>Baleshwar Temple</h3>
  <p>Carvings of this temple follows South Indian school sculpture and architecture. The temple
    was built by the first Chand Dynasty king, Raja Somchand.In early 17th century, the mughals captured
  Champawat and destroyed the Baleshwar temple. The temple facade is carved out of stone and
  has windows. The architectural design is similar to the Buddhist temple or vihara.
  The painted facade is typical of Buddhist temples. The shrine area has an idol of Lord Badrinarayan, carved
  out of block stone. This idol shows Lord Badrinarayan sitting under a Badri Tree, guarded by
  a gold canopy.</p>
    </div>
    </div><hr style="color:black">
