<!-- content for the website-->
<div class="container">
  <div class="jumbotron">

    <h3><b>  Friuts (Unforgettable Taste) </b></h3>
    <p>Fruits have been playing a major role in making human body heathier,and Uttarakhand provids numerous
      fruits with taste and medicinal qualties.  </p>

    </div>


   <div class="row">
     <div class="col-md-8">
         <h3><b>Kaphal or Kafal (Myrica esculenta)</b></h3>
         <p>Kaphaal is a tree or large shrub native to the hills of Uttakhand , southern Bhutan and Nepal.
          Its common names include box myrtle, bayberry, and kaphal. Its berries are edible and are consumed locally.
          It is  especially found at elevations of 900–1,800 m (3,000–6,000 ft).It is also found in Himachal Pradesh, India where it is known as Kafal.
         Myrica esculenta has a tree of medium height, about 6 to 8 m h30 toh36 ft). Bark is soft and brittle.
          Leaves are conjoint, 30–60 cm (1h3 ft) feet long that has leaflets in pairs of 6 to 9 and has a width of 19 mm (0.75 in).
          Flowers are of white color and are found in bunches. Fruit is a globose, succulent drupe, with a hard endocarp; diameter 1.1–1.3 cm (0.43–0.51 in);
          average mass 670 mg (10.3 gr). Seeds are triangular in shape and are astringent in taste.</p>
          <h4 style="text-align: center;"><b>Ayurveda says: Kaphal has two varieties based on the color of flower: Shweta (white)  Rakta (red)</b></h4>
         <p> Kaphal resembles deep-red raspberries but it has negligible pulp as the most space is taken up by the big round seed inside.
           It (even when ripe) is taken with a sprinkle of rock-salt and chilli powder. </p></div>
           <div class="col-md-4">
           <img src="assets/images/kafal1.jpg" alt="responsive" class="fit-image" style="margin-top:10px;" >
            </div>
            </div><hr style="color:black">

           <div class="row" style="padding-top: 10px;">
               <div class="col-sm-8 col-md-8 col-lg-8">
       <h3><b>Strawberry ( Fragaria × ananassa)</b></h3>
      <p> The garden strawberry is a widely grown hybrid species of the genus Fragaria, collectively
         known as the strawberries, which are cultivated worldwide for their fruit.The fruit is widely appreciated for its characteristic aroma, bright red color, juicy texture, and sweetnes.
         They're an excellent source of
         vitamin C and manganese and also contain decent amounts of folate(vitamin B9) and potassium.As Uttrakhand is blessed with beautiful and perfect, strawberries
         are growen for commercial purpose.  Some regions around district Nainital and specially Ramgarh is known for its cultivation.
         Strawberries are very rich in antioxidants and plant compounds, which may have benefits for heart health and blood sugar control ( 1 ,h3 ).</p>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4"> <img src="assets/images/straw2.jpg"  alt="responsive" class="fit-image">
         </div>
         </div><hr style="color:black">

         <div class="row" style="margin-top: 100px;">
             <div class="col-md-8">
        <h3>Apricot (Aaroo) (Prunus armeniaca),</h3>
   <p>Apricot,  stone fruit of the family Rosaceae (order Rosales), closely related to peaches,
     almonds, plums, and cherries. Apricots are cultivated throughout the temperate regions of the world.
      They are eaten fresh or cooked and are preserved by canning or drying. The fruit is also widely made into
      jam and is often used to flavour liqueurs. Apricots are a good source of vitamin A and are high in natural-sugar content.
       Dried apricots are an excellent source of iron.Apricots are a great source of many antioxidants, including beta carotene and vitamins A, C, and E. What's more, they're high in a group of polyphenol antioxidants called flavonoids, which have been shown to protect against illnesses
       ,including diabetes and heart disease (5, 6 , 7 ).</p>
     </div>
     <div class="col-md-4">   <img src="assets/images/ar.jpg" alt="responsive" class="fit-image">
    </div>
   </div><hr style="color:black">

   <div class="row" style="padding-top: 10px;">
       <div class="col-sm-8 col-md-8 col-lg-8">
    <h3>Hisalu  (Rubus ellipticus)</h3>
   <p>Hisalu is quite popular amongst the locals. This bright yellow coloured fruit is abundant both in Kumaon and Garhwal

      regions and it tastes amazingly sweet! It ripens during March-April, available mostly in and around Nainital,
     Bhimtal, Almora  other places loacted at teh higher altitude and can be purchased from the fruit-sellers by the road-side stalls.
     Hisalu are of two types: 1) One is yellow colouredh3) Other one is black colour.</p>
     <p>Yellow coloured hisalu is commonly found but black coloured hisalu is rearly found.</p>
       <p> Hisalu has a sour and sweet taste. A well ripen hisalu tastes more sweet and less sour and Its
        taste cannot be compared to any of the fruits.
     </p>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
     <img src="assets/images/hi.jpg" alt="resposive" class="fit-image"></div>
    </div><hr style="color:black">

   <div class="row" style="padding-top: 10px ;">
       <div class="col-sm-8 col-md-8 col-lg-8">
   <h3>Kilmode (Berberis aristata)</h3>
     <p> Kilmora is also known as Indian barberry .Kilmora is characterized by an erect spiny shrub,
        ranging betweenh3 to 3 m (6.6 to 9.8 ft) in height. It is a woody plant, with bark that appears
         yellow to brown from the outside and deep yellow from the inside. The bark is covered with three-branched thorns,
         which are modified leaves, and can be removed by hand in longitudinal strips.
         Leaves are deep green on the dorsal surface and light green on the ventral surface and  are simple with pinnate venation. They  are leathery in texture and are toothed,
        with several to many small indentations along the margin of the leafs.
     Kilmora is found at the height of 1400 toh3000 mts medicinal plant found in Uttrakhand.
     It is used to prepare anit-diabatic medicines. The ripen fruit has purple color and it tastes
     sweet and sour. The taste of kilmode is different from rest of the fruits found in the region of Uttrakhand.
    </p>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4"><img src="assets/images/kil.jpg" alt="responsive" class="fit-image"></div>
   </div>
   </div><hr style="color:black">

