
<!--background images-->

<div class="container-fluid">
  <div class="bgimage" style="background-image:url(assets/images/uk2.jpg)">
  <div class="image">
  <h1>Uttarakhand</h1>
 <p>The Land Of Gods</p></div>
</div>
<div class="row">
  <div class="col-md-4">
<h2><span><a href="https://en.wikipedia.org/wiki/Uttarakhand" target="_blank" style="text-decoration:none">
  Take A Tour Of Its  History</a></span></h2></div>
  <div class="col-md-4">
    <h2><span><a routerLink ="/gallery">Photo Gallery</a></span></h2>
  </div>
  <div class="col-md-4">
    <h2><span><a routerLink="/stories" style="text-decoration: none">Stories</a></span></h2></div>
</div>
<!-- listing of items of website-->
   <!-- information columns-->
   <div class="items">
    <div class="row text-center">
       <div class="col-sm-3 col-md-3 col-xl-3">
           <a routerLink="/temples" style="text-decoration: none">

                   <img  src="assets/images/hari.png" alt="responsive" class =" fit-image">
                   <div class="caption">
                       <h3>Temples</h3> </div></a>
         </div>
         <div class="col-md-3">
          <a routerLink="/explore">

           <img  src  ="assets/images/view3.jpg" alt="responsive" class=" fit-image">
                  <div class="caption">
                      <h3>Tourist's Attraction</h3>
                  </div>
          </a>
     </div>

      <div class="col-md-3">
          <a routerLink="/fruits">
            <!--<div class="thumbnail">-->
                  <img  src="assets/images/kafal.jpg" alt="responsive" class =" fit-image">
                  <div class="caption">
                      <h3>Regional Fruits</h3> </div> </a>
        </div>
      <div class="col-md-3">
          <a routerLink="/pulses">

           <img  src  ="assets/images/massor.jpg" alt="responsive" class=" fit-image">
                  <div class="caption">
                      <h3>Regional Pulses</h3>
                  </div>
          </a>
     </div></div>
  <!-- Second Row-->
  <div class="row text-center">
      <div class="col-md-3">
          <a routerLink="/dress">
            <!--<div class="thumbnail">-->
                  <img  src="assets/images/pi2.jpg" alt="responsive" class =" fit-image">
                  <div class="caption">
                      <h3>Traditional Wear</h3> </div> </a>
        </div>
      <div class="col-md-3">
          <a routerLink="/food">

           <img  src  ="assets/images/food2.jpg" alt="responsive" class=" fit-image">
                  <div class="caption">
                      <h3>Luscious Food</h3>
                  </div>
          </a>
     </div>
     <div class="col-md-3">
      <a routerLink="/sweets">

       <img  src  ="assets/images/singori.jpeg"  alt="responsive" class="fit-image">
              <div class="caption">
                  <h3>Tempting Sweets</h3>
              </div>
      </a>
  </div>
  <div class="col-md-3">
      <a routerLink="/art">

       <img  src  ="assets/images/aip.jpg" alt="responsive" class=" fit-image">
              <div class="caption">
                  <h3>Folk Art</h3>
              </div>
      </a>
  </div>
  </div>
 <!--Third Row-->

<div class="row text-center">
<div class="col-md-3">
  <a routerLink="/language">

    <img  src  ="assets/images/lang.jpg" alt="responsive" class=" fit-image">
           <div class="caption">
               <h3>Languages</h3>
           </div>
   </a>
</div>
<div class="col-md-3">
  <a routerLink="/folk">

    <img  src  ="assets/images/FolkDance.jpg" alt="responsive" class=" fit-image">
           <div class="caption">
               <h3>Folk Songs and Dance</h3>
           </div>
   </a>
</div>
<div class="col-md-3">
  <a routerLink="/festivals">

    <img  src  ="assets/images/fair.png" alt="responsive" class=" fit-image">
           <div class="caption">
               <h3>Fairs and Festivals</h3>
           </div>
   </a>
</div>
<div class="col-md-3">
  <a routerLink="/architecture">

    <img  src  ="assets/images/jagesh.png" alt="responsive" class=" fit-image">
           <div class="caption">
               <h3>Architecture</h3>
           </div>
   </a>
</div>
</div>
</div></div>
























