  <!-- content for thw website -->
  <div class="container">
    <div class="jumbotron home-spacer" >

      <h2><b>  Pahaadi Sanskr̥tiḥ(संस्कृति) </b></h2>
      <p>Culture ( संस्कृति [sanskr̥tiḥ]) encompasses religion, food, what we wear, how we wear it, our language,
        marriage, music, what we believe is right or wrong.</p>
        </div>

       <div class="row">
         <div class="col-md-8">
            <h2><b>Rangaai Pichora</b></h2>
            <p>Pichora is a symbol of the synergy of a married woman and is worn on festivals and social ceremonies and religious occasions according to the prevailing tradition.
            On the special celebratory occasions like marriage, naming ceremony, fasts, festivals, worship and other important days, women wear it without any restrictions.
            Pichora is an important part of Uttarakhand’s Kumaon regional marriages.Women wear the Pichora for the first time in their marriage, after which it becomes a ritual for married women to wear it on all special occasions.
            On the special celebratory occasions like marriage, naming ceremony, fasts, festivals, worship and other important days, women wear it without any restrictions.
            Pichora is an important part of Uttarakhand’s Kumaon regional marriages.Women wear the Pichora for the first time in their marriage, after which it becomes a ritual for married women to wear it on all special occasions.
            Wax or chicken cloth is used to make Pichhora.With three meters long and fifty-seven-meter-wide white cloth, it is given dark yellow color. The root of kilmode is grinded or turmeric are prepared to paint i pichoras.
             The sketches drawn on the pichhora have a religious significance too.<b>The Swastik represents all the gods and goddesses.It denotes the ‘karmyoga’.Its four arms pointing forward inspire to move ahead.
            The center of the Swastik is ‘Om’ which has great importance in meditation and spirituality.</b></p>
           </div>
           <div class="col-md-4">
              <img src="assets/images/pi2.jpg" alt="responsive" class="fit-image" >
           </div> </div><hr style="color: black">
           <div class="row">
              <div class="col-md-8">
        <h2><b>Ghagari For Women</b></h2>
        <p>There is a long skirt known as Ghagri which is worn with a choli and Orni. Both Kumaoni and Garhwali women wear this dress. The customary bridal dress of the locals is Ghaghra Lehenga and choli, and Pichora Ghaghra.
          Married women put on a black necklace i.e. Chareu. Hansuli is a beautiful ornament, a type of necklace, designed in pure gold or silver.Ethnic people cover themselves from Sarong, a mantle-type dress, tightened with a blouse. Rangwalis or Muslim veils are popular costumes in Uttarakhand.
         They are available in a variety of colors and a holy acquaintance of marriage.
        </p></div>
       <div class="col-md-4">
         <img src="assets/images/old.jpg" alt="responsive" class="fit-image">
      </div></div>
      <div class="row">
          <div class="col-md-8">
      <h2><b>Dhoti For Men</b></h2>
      <p>Dhoti or Lungi is worn by many men, which is a lower-garment. The upper-garment is Kurta.
         Men love to wear turban or headgear which is a part of their traditional costume.
         There is another alternative dress i.e. Kurta-Pajamas for men that is widespread in this part of India.
         Both men and women wear woolen jackets and sweaters in winter.</p>
    </div>
    <div class="col-md-4">
        <img src="assets/images/dan.jpg" alt="responsive" class="fit-image">
     </div></div>
    </div><hr style="color:black">

